@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Sedgwick+Ave+Display&display=swap');
.birijon{
    position: fixed;
    width: 293px;
    height: 657px;
    margin-top: 25px;
    margin-left: 830px;    
}
.nome{
    font-family: 'Sedgwick Ave Display', cursive;
}
